compute_environment: LOCAL_MACHINE
distributed_type: 'NO'
dynamo_backend: 'no'
machine_rank: 0
main_training_function: main
mixed_precision: fp16
num_machines: 1
num_processes: 1
rdzv_backend: static
same_network: true
use_cpu: false
